<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style=" padding:0%; ">
    <span class="title" style="width: 16%;"><a class="navbar-brand" href="#">IT4FLOWER</a> </span>
    <span class="sidnav-togller" style="width: auto;background: rgb(240, 236, 236);">
      <button class="navbar-toggler navbar-toggle-show " type="button" (click)="toggleSideBar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Usericon <span class="sr-only">(current)</span></a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li *ngIf="!payload" class="nav-item" (click)="logIn()" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Login</a>
        </li>
        <li *ngIf="payload" class="nav-item" (click)="logOut()" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Logout</a>
        </li>
      </ul>
    </div>
  </nav> 
</header>
