
<div class="row sidebar">
  <div class="col-lg-2  col-4 border-right sidebar ">

    Manage
    <button class="btn-sidebar" (click)="navigateTo('dashboard')">
      Dashboard
    </button>
    <button class="btn-sidebar" (click)="navigateTo('company')">
      Company
    </button>
    <button class="btn-sidebar" (click)="navigateTo('plans')">
      Plans
    </button>
    <button class="btn-sidebar" (click)="navigateTo('subscription')">
      Subscription
    </button>
    Reports
  </div>
  <div class="col-lg-10 col-8">
    <router-outlet> </router-outlet>
  </div>
</div>

