<div class="main-table"> 
    <div class="row-fluid">
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Balance Date</th>
            <th scope="col"> Amount </th>
            <th scope="col"> Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventory; let i = index">
            <th scope="row">{{i+1}}</th>
            <td> {{item.productName}} </td>
            <td> {{item.balanceDate}}</td>
            <td> {{item.amount}}</td>
            <td> 
              <span class="span-manage" (click)="inventoryDetails(item)">Detail</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>