 
.container-fluid{ 
  background: rgb(248, 248, 248);
}
.col-padd{ 
  margin-left: -2% !important;   
}
.btn-padding{
    margin-left: 2% !important;  
}
.row-fluid{
  padding-left: 2% !important;  
  padding-right: 2% !important; 
}

@media (max-width: 575.98px) { 
  
} 
 
@media (max-width: 767.98px) { 
  
 }
 
@media (max-width: 991.98px) { 
  
 }
 
@media (max-width: 1199.98px) { 
  
}