

/*Bright Thame*/
$font-stack:    'Muli', sans-serif;
$primary-color: rgb(28, 186, 253);
$primary2-color: rgb(133, 208, 240);
$info-color: rgb(95, 172, 239);
$secondary-color: rgb(243, 119,32);
$warning-color:rgb(255, 0, 0);
$success-color: rgb(40, 167, 69); 
$fail-color: rgb(255, 193, 7);
$white-text-color: rgb(255, 255, 255);
$black-color:rgb(0, 0, 0);
$black-color:rgb(24, 23, 23);
$input-border: rgb(206, 206, 206);
$white-main: rgb(255, 255, 255);
$green-background: rgb(3, 168, 42); 
$background-white: rgb(255, 255, 255);

/*Dark Thame*/ 
$dark-text-color: rgb(2, 2, 2);
