
.container-fluid{ 
  background: rgb(248, 248, 248);
  padding: 0%; 
} 
.scout-gh { 
  color:white;
  background: green;
  float: left; 
  margin:2%; 
  padding:1%;
  padding-top:2%;
  width:150px !important;
  height:150px!important;
  cursor: pointer;
}
.row-fluid{
  padding-left: 2% !important;  
  padding-right: 2% !important; 
}
@media (max-width: 575.98px) { 
  
} 
 
@media (max-width: 767.98px) { 
  
 }
 
@media (max-width: 991.98px) { 
  
 }
 
@media (max-width: 1199.98px) { 
  
}