<div class="main" id="main">
  <div class="container-fluid">
    <div class="row-fluid main-title">
      Dashboard
    </div>
    <div class="row-fluid ">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne" (click)="toggleStor()">
            <h5 class="mb-0">
              Store
            </h5>
          </div>
          <div id="collapseOne" class="collapse" [ngClass]="{'show': storeIndex}" aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">
              <div class="row ">
                <div class="col-lg-4"> 
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">  Unread reports from Store - {{reportCount}}</h6>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go to Reports</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4"> 
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">  Expiration Alerts - {{productCount}}</h6>
                      <p *ngFor= "let product of expiringProducts" class="card-text">{{product.name}} - Expired on {{product.expiredDate}}</p>

                      <a href="#" class="btn btn-primary">Go to Product</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4"> 
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">  Stock alerts  - {{reportCount}}</h6>
                      <p class="card-text">get product by stock balance .</p>
                      <a href="#" class="btn btn-primary">Go to Stock Inventory</a>
                    </div>
                  </div>
                </div>  
              </div>
            </div> 
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo" (click)="toggleGh()">
                Scout
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" [ngClass]="{'show': ghIndex}" aria-labelledby="headingTwo"
            data-parent="#accordion">
            <div class="card-body">
              gh
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree" (click)="togglePlot()">
                Collapsible Group Item #3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" [ngClass]="{'show': plotIndex}" aria-labelledby="headingThree"
            data-parent="#accordion">
            <div class="card-body">
              plot
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>