<div class="main" id="main">
  <div class="container-fluid">
    <div class="row-fluid main-title">
      Dashboard
    </div> 
    <div class="row">
       test
    </div>
  </div>
</div> 
 
 

<!--    <div *ngIf="totalSize>0" class='col-lg-6'>important
<svg attr.width.px={{widthmain}} attr.height.px={{lengthmain}}>
            <rect x='0' y='0' attr.width.px={{widthmain}} attr.height.px={{lengthmain}}
              style="fill:rgb(38, 199, 94);stroke-width:2;stroke:rgb(0,0,0)" />
            <rect *ngFor="let GH of GreenHs; index as i" [attr.x]='10+i*30 ' [attr.y]='10' [attr.height]="GH.length"
              [attr.width]="GH.width" />
            <text x="0" y="50" font-family="Verdana" font-size="12" fill="blue">GH {{i}}</text>
            <rect *ngFor="let row of Rows; index as i" [attr.x]='10+i*30 ' [attr.y]='10' [attr.height]="GH.length"
              [attr.width]="GH.width" />
             <rect x='65' y='65' [attr.height.px]="length}"   height='80' transform='skewX(60)' /> 
          </svg>
              </div>-->