body
{ }
.modal-header {
  background-color:   rgb(25, 179, 64);
} 
 
.form-control-input{
    border-color:gray !important
}

.form-control-input:focus {
    border-color: gray !important;
    border-radius: 0px !important;
}

input, select {
    border-radius: 0px !important;
    border: 1px solid !important;
    border-color: grey !important;
    width: 100%;
    height: 40px
}

input:focus {
    border-radius: 0px !important; 
    border: 1px solid !important;
    background: none !important;
    border-color: rgb(25, 179, 64) !important;
  }

.form-control:focus {
  border-radius: 0px !important;
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(25, 179, 64, 0.5), 0 0 8px rgba(25, 179, 64, 0.6);
}
 
.layoutelement-label {
  margin-top: 12px
}



