<br/>
<div class="container-fluid">
  <button class="btn btn-success btn-create"
          (click)="createNewCompany('create')">
  <strong>Create New. Hoorra...!! </strong>
  </button>
  <br />
  <br />
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th> 
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody *ngFor="let company of companys;  let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{company.name}}</td>
        <td>{{company.emailaddress}}</td>
        <td>{{company.phone}}</td>
        <td><span class="span-manage" (click)=" editCompany(company.id)">Edit</span> |
        <span class="span-manage" (click)="companyDetails(company.id)">Detail</span></td>
</tbody>
  </table>
</div>

