<div class="container-fluid d-flex h-100 flex-column " style=" padding:0%; overflow: hidden; ">
  <div class="row border-right">
    <div class="sideNav border-right " id="sideNav" >
      <div class=" profile border-bottom">
        <div class=" ">
          <span class="text-justify">
            <!--{{user.Name}}--> userNaME 
          </span>
          <br />
          <span>
            <!--{{user.Name}}
            {{user.Position}}
            {{user.Notification}}-->
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 ">
          <div id="accordion"> 
            <div *ngFor="let plans of subscription;  let i = index " class="card"> 
              <div class="card-header" id="headingOne{{i}}" (click)="toggleAccordion(i, plans.plan)">
                {{loading}}
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{plans.plan}}
                    <span></span>
                  </button>
                </h5>
              </div>
              <div id="collapseOne{{i}}" [ngClass]="{'show': activeIndex == i}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-group">
                    <li *ngFor="let items  of plans.items;  let i = index " class="list-group-item">
                      {{items}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main" id="main"> 
        <router-outlet> </router-outlet> 
    </div>
  </div> 
</div>
