.row-head, .row-footer, .row-body {
  margin: 0px !important;
  width: 100%;
}

.row-head { 
  background: black;
  color: white
}

.row-body {
  height: 92vh;
  padding: 0% !important;
}

.row-footer {
  height: 8vh;
  padding: 1% !important;
  background: black;
  color: white;
  font-size: 9px !important;
}

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}
